.task-item{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 45px;
    align-items: center;
    font-size: 18px;
    padding-left:15px;
    &:hover{
        background-color: #cccccc33;
        cursor: default;
    }
    .task-text{
        display: inherit;
        flex: 1;
        font-weight: 600;
        color: black;
        

    }
    .task-dueDate{
        display: inherit;
        flex: 1;
        font-weight: 500;
        color: #606060;
    }
}