<section class="employee-details-section">
  <div class="ed-avatar">
    <img
      src="https://cdn.pixabay.com/photo/2017/01/31/21/23/avatar-2027366__340.png"
    />
  </div>
  <div class="ed-info">
    <div class="ed-info-data">
      <div class="name">
        <label> Name : </label>
        <span> {{curentEmployee.first}} {{curentEmployee.last}} </span>
      </div>
      <div class="position">
        <label> Position : </label>
        <span> {{employeeType[curentEmployee.position]}} </span>
      </div>
    </div>
    <div class="ed-manager-info-data">
      <div class="manager-info">
        <label> Manager : </label>
        <span> {{employeeManager.first}} {{employeeManager.last}} </span>
      </div>
      <div class="report-button">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#reportModal"
        >
          Report
        </button>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="reportModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create New Report</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-report-form *ngIf="employeeManager.id !== -1" [employeeManager]="employeeManager"></app-report-form>
        <div *ngIf="employeeManager.id === -1">
            <p>
                You can't report to mast manager ❤️
            </p>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
